
<form data-role="page" id="fybeca">
	<style>
#fybeca div {
	text-align: justify;
}

#fybeca .ui-collapsible-heading-toggle {
	white-space: normal;
}

#fybeca .ui-collapsible-content.ui-body-inherit {
	background-color: rgba(255, 255, 255, 0.75);
}

#fybeca .ui-collapsible-content.ui-body-inherit li,#fybeca .ui-collapsible-content.ui-body-inherit p
	{
	color: #333;
}

#fybeca .ui-collapsible-heading-toggle:hover {
	background-color: rgba(52, 60, 75, 0.9);
	color: #FFF;
}
</style>

	<div data-id="main-header" data-role="header" data-position="fixed"
		data-tap-toggle="false" class="ui-alt-icon ui-nodisc-icon">
		<a href="info.html" data-direction="reverse" class="backButton">&nbsp;</a>
		<h1>¿Quiénes somos?</h1>
	</div>

	<div class="ui-content">

		<div
			style="border-radius: 10px; padding: 5px 10px; background-color: rgba(255, 255, 255, 0.75); margin-bottom: 5px;">
			<p>Fybeca es una empresa orgullosamente ecuatoriana, pionera en
				el sector del retail farmacéutico. Su misión es contribuir con el
				bienestar de la comunidad, ofreciendo servicios de excelencia y un
				amplio portafolio de medicinas y productos complementario de calidad
				garantizada. Cuenta con más de 90 locales ubicados en las
				principales ciudades del Ecuador.</p>
			<p>Su búsqueda permanente de calidad e innovación, la han
				convertido en la cadena de farmacias líder en el país. Fybeca tiene
				modernos autoservicios diseñados para brindar a sus clientes una
				experiencia de compra única. Ofrece secciones especializadas para
				vvniños, adultos mayores, rehabilitación, servicios de salud, entre
				otras.</p>
			<p>"Somos parte de tu vida" es la filosofía que ha inspirado a la
				marca para buscar soluciones integrales, apoyados en tecnología de
				punta, para mejorar la calidad de vida de sus clientes. Fybeca fue
				la primera cadena de farmacias en el Ecuador en ofrecer Servicio a
				Domicilio personalizado, acceso a Clubes y una amplia gama de
				beneficios, promociones, charlas sobre salud y bienestar, que
				revolucionaron el mercado.</p>
			<p>Como empresa líder, Fybeca continúa marcando la pauta en su
				compromiso con la comunidad, sirviendo cada día con calidad y
				excelencia, pilares estratégicos de su accionar empresarial.</p>

		</div>

		<div data-role="collapsible" data-inset="false">

			<h4>Responsabilidad Corporativa</h4>
			<div class="collapsibleContent">
				<p>Junto al aporte de sus clientes y organizaciones aliadas,
					Fybeca trabaja en proyectos de educación para la salud, inclusión,
					donación de sangre y seguridad ciudadana. Contribuye con
					fundaciones y brinda ayuda esencial a damnificados en casos de
					emergencias catastróficas. Desde el 2010, mantiene una alianza con
					la Cruz Roja Ecuatoriana.</p>
				<p>Fybeca puede recabar y almacenar la siguiente información:</p>
				<ul>
					<li>
						<span style="font-weight: bold;">Con tu vuelto, ha vuelto
							mi esperanza: </span>
						Brinda atención médica, medicinas y tratamientos a personas de
						escasos recursos, que sufren enfermedades catastróficas de la
						sangre. Hasta junio de 2013, ha atendido a 948 pacientes en las 24
						provincias del país. Donó a la Cruz Roja ambulancias para servir a
						pacientes hematológicos y la comunidad. La donación de tu vuelto
						representa días mejores para quienes más lo necesitan. Puedes
						acercarte a las cajas de Fybeca, a nivel nacional, y donar parte
						de tu vuelto sin necesidad de realizar una compra.
					</li>
					<li>
						<span style="font-weight: bold;">Juntos por la salud: </span>
						Unidades móviles ofrecen atención médica a la comunidad en
						diversas regiones del país donde los servicios de salud son
						escasos. En el 2012 visitaron 65 cantones, beneficiando a cerca de
						60.000 personas. Como parte de este proyecto también se entregó a
						la Cruz Roja una unidad odontológica para la atención de
						afecciones orales.
					</li>
					<li>
						<span style="font-weight: bold;">Donación de Sangre: </span>
						Fybeca fomenta la donación de sangre entre sus colaboradores.
						Gracias a su generosidad, mantiene un banco de sangre corporativo.
						Hasta septiembre de 2013, se recolectaron 1.251 pintas que le
						permiten salvar más de 3700 vidas.
					</li>
				</ul>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Centro de distribución</h4>
			<div>
				<p>Fybeca cuenta con uno de los Centros de Distribución y
					Logística más modernos del país: Provefarma, ubicado en el sector
					de Amaguaña. Opera con uno de los más eficientes Sistemas de
					Gestión de Almacenaje y Distribución (WMS). Maneja más de 18.000
					SKU's y 8.500 pallets, trabaja 24/6. Desde este Centro, Fybeca
					abastece cada día a todos sus locales a nivel nacional.</p>
				<p>El profesionalismo y excelencia de sus operaciones se refleja
					en los estrictos procedimientos con que trabaja durante el
					almacenamiento, control, codificación y distribución de productos
					en los puntos de venta, garantizando que todos sus clientes
					encuentren siempre lo que necesitan y en óptimas condiciones.</p>
			</div>
		</div>

	</div>

</form>
