
<form data-role="page" id="privacy">
	<style>
#privacy div {
	text-align: justify;
}

#privacy .ui-collapsible-heading-toggle {
	white-space: normal;
}

#privacy .ui-collapsible-content.ui-body-inherit {
	background-color: rgba(255, 255, 255, 0.75);
}

#privacy .ui-collapsible-content.ui-body-inherit li,#privacy .ui-collapsible-content.ui-body-inherit p
	{
	color: #333;
}

#privacy .ui-collapsible-heading-toggle:hover {
	background-color: rgba(52, 60, 75, 0.9);
	color: #FFF;
}
</style>

	<div data-id="main-header" data-role="header" data-position="fixed" data-tap-toggle="false"
		class="ui-alt-icon ui-nodisc-icon">
		<a href="info.html" data-direction="reverse" class="backButton">&nbsp;</a>
		<h1>Políticas privacidad</h1>
	</div>

	<div class="ui-content">

		<div style="border-radius: 10px; padding: 5px 10px; background-color: rgba(255, 255, 255, 0.75); margin-bottom: 5px;">
			<p>Farmacias y Comisariatos de Medicinas S.A. FARCOMED, en adelante Fybeca, tiene el compromiso de preservar y
				proteger la información de sus clientes, por lo que nuestra política de uso y privacidad le permite conocer al cliente:
				qué información recogemos, guardamos y utilizamos a través de los diferentes servicios o páginas disponibles en este
				sitio web; así como también los procedimientos referentes al servicio de entregas que ofrecemos.</p>
			<p>Al visitar este sitio web usted está aceptando las políticas descritas en este Aviso. Por lo antes expuesto
				recomendamos leer detenidamente los siguientes puntos sobre nuestra política.</p>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Pedidos y Facturación</h4>
			<div class="collapsibleContent">
				<ul>
					<li>Todos los precios de los productos son actualizados y aquellos que gravan iva, ya incluyen dicho impuesto.</li>
					<li>Al realizar el “check out” del pedido, el cliente debe ingresar la información necesaria para el envío y el
						pago del mismo. La información de tarjetas de crédito que el cliente ingresa no queda almacenada.</li>
					<li>El tiempo de entrega dependerá de la disponibilidad de los productos, el lugar de destino para la entrega y
						nuestro stock. Cualquier retraso será comunicado al cliente antes de finalizar la compra para que pueda anular su
						pedido o cambiar un producto por otro. En caso de presentarse algún inconveniente posterior al “check out”, Fybeca se
						responsabiliza en contactar al cliente para confirmar la información y la compra.</li>
					<li>El cliente es responsable de verificar que su pedido esté completo en el momento de la entrega. Al firmar el
						recibí conforme el cliente acepta que su pedido está completo, en perfecto estado y correcto.</li>
					<li>Si el cliente al momento de realizar la verificación de su pedido, constata que existe algún error en el
						despacho de su pedido, la persona que entrega el pedido realizará el cambio del producto erróneo en el menor tiempo
						posible.</li>
					<li>En caso de que el cliente al momento de recibir su pedido (el mismo día), evidencie algún error en su despacho
						del pedido, deberá contactarse con al 1800Fybeca para reportar la novedad y poder solventar el inconveniente lo antes
						posible.</li>
					<li>La factura de la compra realizada llegará junto con la entrega de productos. Sin embargo una vez que el cliente
						confirma la compra se emitirá un recibo de la misma en línea, que sirve como respaldo de la compra efectuada hasta que
						su pedido sea entregado.</li>
					<li>El servicio aplica a las ciudades y sectores donde Fybeca tiene cobertura con Servicio a Domicilio.</li>
					<li>Para conocer acerca de nuestras políticas de cambios y/o devoluciones, remitirse al documento de “Políticas de
						Cambios y Devoluciones” dentro del mismo sitio web.</li>
				</ul>
			</div>


		</div>

		<div data-role="collapsible" data-inset="false">

			<h4>Información que recabamos</h4>
			<div class="collapsibleContent">
				<p>Los usuarios pueden navegar por nuestro sitio web sin decirnos quién es, ni revelar ninguna información personal.
					Una vez que usted nos proporciona información personal, usted deja de ser anónimo para nosotros. Fybeca califica como
					información de carácter confidencial a nombres, apellidos, direcciones, teléfonos, correo electrónico, fecha de
					nacimiento, edad, sexo, es decir datos privados. Si usted decide proporcionarnos información personal, usted autoriza la
					transferencia y almacenamiento de esta información en nuestros servidores.</p>
				<p>Fybeca puede recabar y almacenar la siguiente información:</p>
				<ul>
					<li>Dirección de correo electrónico, información de contacto físico, e información para el envío y entrega de
						productos (dirección y teléfono), así como datos para la facturación de los productos que usted adquiere a través de
						este sitio web.</li>
					<li>Información de los sitios en internet que ha visitado antes de visitar el nuestro, las páginas que visita en
						nuestro sitio web, el navegador que utiliza para visitar nuestro sitio web y cualquier término de búsqueda que usted
						haya introducido en nuestro sitio web.</li>
					<li>Datos de interacción con nuestro sitio web tales como, servicios, contenidos y publicidad, incluyendo equipo e
						información de conexión, estadísticas de páginas visitadas, tráfico desde y hacia los diferentes sitios de anuncios,
						datos, direcciones IP y la información de registro web estándar.</li>
				</ul>
				<p>Le recordamos, que el sitio no almacena información de la tarjeta de crédito ni códigos de seguridad o fechas de
					vigencia de las mismas, salvo de las tarjetas empresariales de Fybeca, que no recaba el sitio sino que se generan del
					proceso de emisión de la misma.</p>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Usos de la información</h4>
			<div>
				<p>Fybeca no vende ni alquila información personal de sus clientes a terceros. Nuestro principal objetivo al
					recolectar información de nuestros clientes es brindar un servicio eficiente, fluido, seguro y personalizado.</p>
				<p>La información proporcionada por nuestros clientes es utilizada por nuestra parte para:</p>
				<ul>
					<li>Envío de información y muestras de ciertos productos que vendemos y creemos puede ser de interés para ciertos
						clientes.</li>
					<li>Mejorar y personalizar la experiencia de nuestros clientes a través de los servicios de este portal web y en
						punto de venta.</li>
					<li>Personalizar la comunicación que brindamos a nuestros clientes permitiéndoles conocer los beneficios y ofertas
						a los que puede acceder mediante el uso de este portal web o en punto de venta.</li>
					<li>Desarrollar estudios internos sobre los intereses, comportamiento de compra y demografía de los usuarios de
						nuestro sitio web, para comprender mejor sus necesidades e intereses, que nos permitan ofrecer un mejor servicio.</li>
					<li>Contactar a nuestros clientes para llevar a cabo estudios de mercado y satisfacción.</li>
					<li>Fybeca puede compartir la información total o parcial cuando se trate de cumplir con las Regulaciones vigentes,
						para protección contra fraudes y la reducción del riesgo de créditos.</li>
					<li>Fybeca revelará la información de sus clientes cuando las autoridades competentes así lo soliciten, previa
						verificación de la orden emitida por autoridades para tal situación y una vez que se haya constatado que efectivamente
						quien emite la orden tiene plena competencia para realizar la solicitud. Dicho documento será puesto en conocimiento
						del cliente para su información, siempre y cuando el requerimiento de información de parte de la autoridad no esté
						catalogado como confidencial.</li>

				</ul>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Privacidad</h4>
			<div>
				<p>Fybeca respeta la privacidad de cada uno de nuestros clientes; toda la información proporcionada por los clientes,
					es tratada con el mayor sigilo y seguridad. Con el fin de proteger la información proporcionada, utilizamos tecnologías
					avanzadas y los más altos estándares de protección de la información, sin embargo, considerando que no existe ningún
					sistema de internet 100% libre de ataques, no podemos garantizar la total invulnerabilidad ante hakers o terceros que
					violen nuestra seguridad, en caso de detectarlo se informará al/los cliente/s y a las autoridades pertinentes.</p>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Cookies y Beacons</h4>
			<div>
				<p>Las “cookies” son pequeños archivos colocados en el disco duro de su computador. La mayoría de las cookies son
					“cookies de sesión”, es decir que se eliminan automáticamente de su disco duro una vez que se desconecte de un sitio web
					o cierre el navegador. Fybeca utiliza las cookies con la finalidad de conocer los intereses y comportamiento de quienes
					visitan nuestro sitio web, para tener un mejor conocimiento de sus necesidades e intereses que nos permitan ofrecer un
					mejor servicio.</p>
				<p>Además nosotros utilizamos las cookies para:</p>
				<ul>
					<li>Permitir que el usuario no tenga que introducir su clave frecuentemente durante su sesión de navegación.</li>
					<li>Recordar las preferencias del usuario.</li>
					<li>Presentar información que vaya de acuerdo con los intereses del usuario.</li>
					<li>Medición de la efectividad de nuestro sitio, servicios, contenido y publicidad.</li>
					<li>Proporcionar otros servicios y características que sólo están disponibles a través de la utilización de
						cookies.</li>

				</ul>
				<p>Una “web beacon” es una imagen electrónica colocada en el código de una página web. Esta tiene finalidades
					similares a las de las cookies. Fybeca utiliza un web beacon para medir patrones de tráfico de los usuarios de una
					página a otra con el objetivo de mejorar el rendimiento del sitio..</p>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Menores de edad</h4>
			<p>Fybeca no pretende vender productos a menores de 18 años. Vendemos productos para niños que son comprados por
				adultos. Un menor de edad puede acceder y navegar a través del sitio sin ningún inconveniente. Sin embargo, las compras
				de productos deben ser realizadas por un adulto y sólo se procesarán compras con aquellas tarjetas de crédito para
				menores de edad que son respaldadas y autorizadas por un adulto.</p>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Seguridad de la información</h4>
			<div>
				<p>Fybeca se compromete a cumplir con toda la normativa aplicable en materia de medidas de seguridad para la
					Información Personal. Usamos la tecnología diseñada para servidores web seguros. El historial de sus transacciones es
					encriptada, manteniendo de esta manera su información médica, su nombre de usuario, contraseña y toda su información
					personal de forma confidencial. El servicio al cliente de Farcomed nunca le pedirá a usted revelar su clave
					personal.Fybeca se compromete a cumplir con toda la normativa aplicable en materia de medidas de seguridad para la
					Información Personal. Usamos la tecnología diseñada para servidores web seguros. El historial de sus transacciones es
					encriptada, manteniendo de esta manera su información médica, su nombre de usuario, contraseña y toda su información
					personal de forma confidencial. El servicio al cliente de Farcomed nunca le pedirá a usted revelar su clave personal.</p>
				<p>Es importante que usted se proteja contra el acceso no autorizado a su contraseña y a su computador. Asegúrese de
					cerrar la sesión cuando termine de usar un computador compartido. Cualquier cliente que tenga dudas acerca de la
					protección de la información, comunicarlas a Seguridad de Información: seguridadinformacion@corporaciongpf.com</p>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Acciones que usted debe considerar</h4>
			<div>
				<ul>
					<li>Se recomienda a los clientes, utilizar una contraseña de fácil recordación personal pero difícil de deducir
						para terceros, nunca revele a nadie. Si el cliente comparte su contraseña o información personal con otros, se hace
						responsable de todas las acciones que se realicen a su nombre en su cuenta. Si la contraseña ha sido comprometida por
						alguna razón, se recomienda cambiarla inmediatamente.</li>
					<li>Mantenga el software del computador actualizado, así como los antivirus de seguridad del mismo.</li>
					<li>Existen estafas por medios electrónicos, entre otras formas, pueden utilizar el correo electrónico de los
						clientes para contactarlos y solicitar información personal. Se recomienda precaución al abrir los enlaces o archivos
						adjuntos por parte de terceros. Fybeca nunca envía mails solicitando su clave de usuario, número de tarjeta de crédito
						u otra información personal. En caso de recibir este tipo de correos sugerimos no remitir ninguna información o
						contactarse con nuestro Departamente de Servicio al Cliente al 1700Fybeca.</li>

				</ul>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>Modificaciones a la política.</h4>
			<div>
				<p>Fybeca podrá modificar estas políticas de uso y privacidad en cualquier momento, haciendo públicos los cambios en
					el sitio web de manera que el cliente conozca siempre qué información recopilamos, cómo la recopilamos y las opciones
					del sitio.</p>
			</div>
		</div>

		<div data-role="collapsible" data-inset="false">
			<h4>¿Cómo contactarse con Nosotros?</h4>
			<div>
				<p>Teléfono: 1700 fybeca</p>
				<p>Oficinas: (593 2) 2 283 - 200</p>
				<p>
					E-mail: <a href="mailto:web@fybeca.com">web@fybeca.com</a>
				</p>
			</div>
		</div>

	</div>

</form>
