<div data-role="page" id="search-products">

	<script src="../viewmodels/search-products.js"></script>

	<style>
#search-list-local li:last a {
	margin-botton: 5px;
}

#search-products #search-box {
	margin: -.5em;
	margin-bottom: 0;
}

#search-products #search-box .ui-input-text {
	margin-top: 0;
}

#search-products .loading {
	margin-left: -1em;
	margin-right: -1em;
	margin-top: 1em;
}

#search-products .loading .loading-label {
	font-size: 11px;
	background: #DDD;
	display: none;
	padding: 5px;
	text-align: center;
}

#search-products>.ui-content .results {
	margin-top: 0;
}

#search-products .results .ui-btn {
	font-weight: normal;
	text-transform: capitalize;
}

#search-products #search-list-local {
	border: 1px solid #DDD;
	border-radius: 4px;
	margin-top: -.3em;
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 1em;
	left: .5em;
	right: .5em;
	position: absolute;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 40px;
}

#search-products #search-list-local .ui-btn {
	border-color: #FFF;
	background: #FFF;
}

#search-products .loadingProducts,#search-products .noProducts {
	color: #333 !important;
	border: none;
	text-align: center;
	height: 13px;
	margin-bottom: -20px;
	display: none;
	font-style: italic;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0);
}
</style>

	<div data-id="main-header" data-role="header" data-position="fixed"
		data-tap-toggle="false" class="ui-alt-icon ui-nodisc-icon">
		<a href="#" class="backButton" data-direction="reverse"
			data-bind="click: backh">&nbsp;</a>
		<h1>Productos</h1>
	</div>

	<div class="ui-content">
		<form id="search-box" data-bind="submit: search">
			<div class="input-group">
				<input placeholder="Ingrese el nombre de un producto"
					data-bind="value:searchText, valueUpdate: 'keyup', event: {focus: showHideFooter, blur: showHideFooter}" />
				<button
					class="ui-btn ui-btn-icon-notext ui-nodisc-icon ui-alt-icon ui-icon-search"
					style="background-color: #FFF;"
					data-bind="enable: searchText().length > 2">Buscar</button>
			</div>
		</form>

		<ul id="search-list-local"
			class="results ui-overlay-shadow listDefault" data-role="listview"
			data-bind="visible: displayedList()=='1' && (mainResults().length>0 || showLocalList())">
			<li class="loadingProducts" data-icon="false">Cargando mas
				productos...</li>
			<li class="noProducts" data-icon="false">No se han encontrado
				productos</li>
			<!-- ko foreach: mainResults() -->
			<li data-icon="false">
				<a href="#"
					data-bind="html: productNameStyled, click: $root.toProductDetail"></a>
			</li>
			<!-- /ko -->
		</ul>

		<ul id="history-list-local" class="results listDefault"
			data-role="listview"
			data-bind="foreach: historyResults(), visible: displayedList()=='1' && showHistoryList()">
			<li data-icon="false">
				<a href="#" style="text-transform: capitalize;"
					data-bind="html:productName, click: $root.toProductDetail"></a>
			</li>
		</ul>

		<div data-bind="visible: displayedList()=='2'">

			<div id="deepSearchLoading"
				style="text-align: center; background-color: rgba(255, 255, 255, 0.5); padding: 10px; border-radius: 10px;">
				<img src="../../themes/default/images2/ajax-loader-little.gif"
					style="margin-right: 10px" />
				<span data-bind="text: 'Buscando &quot;' + searchText() + '&quot;'"></span>
			</div>

			<div
				data-bind="visible: otherResultsLoaded() && otherResults().length == 0"
				style="text-align: center; background-color: rgba(255, 255, 255, 0.5); padding: 10px; border-radius: 10px;">No
				se han encontrado mas presentaciones</div>

			<ul id="search-list-remote" class="results listDefault"
				data-role="listview" data-bind="foreach:otherResults()">
				<li data-icon="false">
					<a href="#"
						data-bind="html:productName, click: $root.toProductDetail"></a>
				</li>
			</ul>
		</div>
	</div>

	<div data-id="catalog-menu" data-role="footer" data-position="fixed"
		data-tap-toggle="false" data-bind="visible: showFooter()">
		<div data-role="navbar" data-iconpos="top" class="ui-nodisc-icon">
			<ul>
				<li>
					<a href="search-products.html" data-icon="search"
						class="ui-btn-active ui-state-persist">Productos</a>
				</li>
				<li>
					<a href="../../explore-products.html" data-icon="grid">Categorías</a>
				</li>
				<li>
					<a href="my-cart.html" data-icon="cart">
						Carrito (
						<span data-bind="text: cartCount()"></span>
						)
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div data-role="popup" id="popupFilters">
		<div data-role="header" class="popup_header">
			<h1>Filtros</h1>
		</div>
		<div class="ui-content">

			<divdata-bind ="visible: resultCategories().length==
				0 && resultBrands().length==0"> <img
				src="../../themes/default/images2/ajax-loader-little.gif"
				style="margin-right: 10px" />Cargando filtros 
		</div>


		<div
			data-bind="visible: resultCategories().length > 0 || resultBrands().length > 0">
			<ul class="results ui-nodisc-icon ui-alt-icon" id="filters-list"
				data-role="listview">
				<li data-role="list-divider">Categorías</li>
				<!-- ko foreach: resultCategories() -->
				<li>
					<a href="#"
						data-bind="text: catalogName,
				click: $root.searchWithCatalog"></a>
				</li>
				<!-- /ko -->
				<li data-role="list-divider">Marcas</li>
				<!-- ko foreach:resultBrands() -->
				<li>
					<a href="#"
						data-bind="text: brandName,
				click: $root.searchWithBrand"></a>
				</li>
				<!-- /ko -->
			</ul>
		</div>
	</div>
</div>
</div>

