<div data-role="page" id="user-forgot-password">
	<script src="../viewmodels/user-change-email-answer.js"></script>

	<div data-id="main-header" data-role="header" data-position="fixed" data-tap-toggle="false" class="">
		<a href="../../user-login.html" data-direction="reverse" class="backButton">&nbsp;</a>
		<h1>Cambio de correo</h1>
	</div>

	<div class="ui-content">
		<div class="infoContainer">
			<div>Para validar tu identidad, por favor responde a la siguiente pregunta:</div>
			<p data-bind="text: securityQuestion"></p>
			<input type="text" id="txtAnswer" placeholder="Respuesta..." />
			<a href="#" data-role="button" data-mini="true" data-theme="c" data-bind="click: checkAnswer" style="margin-left: 0;">Continuar</a>
		</div>


		<form style="margin-top: 15px;" data-bind="submit: changeEmail">
			<div class="infoContainer" data-bind="visible: correctAnswer">
				<div>Ingresa tu nuevo correo:</div>
				<input type="email" id="txtEmail" placeholder="Correo" />
				<button type="submit" data-theme="b">Cambiar</button>
			</div>
		</form>

	</div>
</div>