<div data-role="page" id="user-forgot-password">
	<script src="../viewmodels/user-forgot-password-success.js"></script>

	<div data-id="main-header" data-role="header" data-position="fixed"
		data-tap-toggle="false" class="">
		<a href="../../user-login.html" data-direction="reverse"
			class="backButton">&nbsp;</a>
		<h1>Olvidó contraseña</h1>
	</div>

	<div class="ui-content">
		<div class="infoContainer" data-bind="html: textToUser"></div>

		<div class="ui-grid-a" style="padding: 5px;">
			<div class="ui-block-a" data-bind="">
				<a href="#" data-role="button" data-mini="true" data-theme="c"
					data-bind="click: goToChangeMail" style="margin-left: 0;">Cambiar</a>
			</div>
			<div class="ui-block-b">
				<a href="../../user-login.html" class="superButton"
					data-role="button" data-theme="b" data-mini="true"
					data-bind="click: " style="margin-right: 0;">Regresar</a>
			</div>
		</div>

	</div>
</div>